/* Palette:
--black: #040303ff;
--dark-slate-gray: #3a4e48ff;
--gray: #6a7b76ff;
--cambridge-blue: #8b9d83ff;
--silver: #beb0a7ff;
*/

/* Setting up border-box method */
* {
  box-sizing: border-box;
}
/* Organizing from more general to more specific, top to bottom */
body {
  background-color: #6a7b76ff;
  font-color: #ffffff;
  font-varient: small-caps;

}

header {
  background-color: #3a4e48ff;

main {
  background-color: #6a7b76ff;
}

footer {
  background-color: #040303ff;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.align-left {
  
}

.align-right {
  
}

.article-text {
  text-align: left;
}

h1 {

}

h2 {

}

h3 {

}

article {

}

p {

}

hr {

}

nav {

}

img {

}

a:link {

}

a:visited {

}

a:hover {
  color: #8b9d83ff;
}

a:active {
  color: #040303ff;
}
 
ul {

}

ol {

}

li {

}

.profilePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
