/* Palette:
--black: #040303ff;
--dark-slate-gray: #3a4e48ff;
--gray: #6a7b76ff;
--cambridge-blue: #8b9d83ff;
--silver: #beb0a7ff;
*/

/* Body w/ border-box bizing */
body {
  background-color: #6a7b76ff;
  box-sizing: border-box;
  font-color: #beb0a7ff;
  font-family: "Times New Roman", Arial, sans-serif;
  font-varient: small-caps;
}

/* Header, Footer, and Main */
header {
  background-color: #3a4e48ff;
}

main {
  background-color: #6a7b76ff;
}

footer {
  background-color: #040303ff;
  font-color: #beb0a7ff;
}

/* Headings, Articles, and Paragraphs */
h1, h2, h3 {
  text-align: center;
}

article {
  border: 2px solid black;
  margin: 5%;
  padding: 5%;
}

.First {
  height: 10%;
}

.Second {
  height: 50%;
}

.Third {
  height: 25%;
}

p {
  text-align: left;
}

/* hr set as a diamond */
hr {
  height: 16px;
  width: 16px;
  border: 2px dashed white;
  transform: rotate(45deg);
}

/* Navigation and Images */
nav {
  border: 2px solid white;
  margin: 5%;
  padding: 5%;
  text-align: right;
}

header img {
  display: block;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

main img {
  display: block;
  height: 33%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Links */
a:link {
  color: #beb0a7ff;
}

a:visited {
  color: white;
}

a:hover {
  color: #8b9d83ff;
}

a:active {
  color: #040303ff;
}

/* Lists */
ul {
  list-style-position: inside;
}

ol {
  list-style-postion: inside;
}
