/* Palette:
--black: #000000
--dark-slate-gray: #2F4F4F
--gray: #808080
--cambridge-blue: #5F9EA0
--silver: #C0C0C0
*/

/* Body w/ border-box bizing */
body {
  background-color: #808080;
  box-sizing: border-box;
  font-family: Georgia;
  font-variant: small-caps;
}

/* Header, Footer, and Main */
header {
  background-color: #2F4F4F;
}

main {
  background-color: #808080;
}

footer {
  background-color: #2F4F4F;
  margin: 1%;
  padding: 1%;
}

/* Headings, Articles, and Paragraphs */
h1, h2, h3 {
  font-color: #000000;
  text-align: center;
}

article {
  border: none;
  font-color: #000000;
  margin: 1%;
  padding: 1%;
}

p {
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

.First {
  height: 10%;
}

.Second {
  height: 50%;
}

.Third {
  height: 25%;
  text-align: center;
}

footer p {
  text-align: center;
}

/* hr set as a diamond */
hr {
  height: 12px;
  width: 12px;
  border: 2px dashed white;
  transform: rotate(45deg);
}

/* Navigation and Images */
nav {
  border: none;
  margin: 1%;
  padding: 1%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header img {
  height: 5%;
  width: 10%;
}

main img {
  height: 25%;
  width: 20%;
}

/* Links */
a:link {
  color: #C0C0C0;
}

a:visited {
  color: #5F9EA0;
}

a:hover {
  color: #808080;
}

a:active {
  color: #000000;
}

/* Lists */
ul {
  list-style-position: inside;
  padding-left: 25%;
  padding-right: 25%;
}

ol {
  list-style-postion: inside;
  padding-left: 25%;
  padding-right: 25%;
}
